* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html, body {
    width: 100%;
    height: 100%;
    color: #333;
}

#app {
    width: 100%;
    height: 100%;
}

#aside {
    flex: 0 0 200px;
    height: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    border-right: 2px solid #f5f6f9;
}

#aside .logo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#aside-menu {
    margin-top: 30px;
    font-weight: bold;
    color: #7c8db5;
}

#header {
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#header .header-left {
    flex: 1 1 300px;
}

#header .header-right {
}

#main {
    width: 100%;
    height: calc(100% - 100px - 60px);
    box-sizing: border-box;
    margin-bottom: 60px;
    padding: 20px 10px 10px 10px;
    overflow: hidden;
}

#main iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
}

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid #f5f6f9;
    box-sizing: border-box;
}

.y-icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.y-icon > svg {
    /*width: 100%;*/
    /*height: 100%;*/
}

.operator-bar {
    margin-bottom: 15px;
}