<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body th:replace="~{/common/public :: per_page(~{::#app}, ~{::script})}" >
  <div id="app">
    <el-card>
<!--      <search-bar :searchForm="searchForm" @search-click="searchHandler"></search-bar>-->

      <div th:replace="~{/common/OperatorBar}"></div>

      <el-row type="flex" justify="space-around" :gutter="20">
        <el-col >
          <el-card class="box-card" shadow="never">
            <el-table :data="pageData.records" style="width: 100%"
                      @selection-change="selectionChange"
                      @row-click="rowDblClick"
                      @select="rowSelect"
                      row-key="id"
                      ref="table"
                      v-loading="table.loading">
              <el-table-column type="selection" width="55"></el-table-column>
              <el-table-column label="用户名" prop="username" width="150" fixed="left">
                <template #default="scope">
                  <span>{{scope.row.username}}</span>
                </template>
              </el-table-column>
              <el-table-column label="昵称" prop="nickname" ></el-table-column>
              <el-table-column label="邮箱" prop="email" width="150"></el-table-column>
<!--              <el-table-column label="性别" prop="gender" width="70"></el-table-column>-->
<!--              <el-table-column label="年龄" prop="age" width="70"></el-table-column>-->
              <el-table-column label="状态" prop="status" width="100">
                <template #default="scope">
                  <el-switch
                    v-model="scope.row.status"
                    @click.native="statusChange(scope.row)"
                    :active-value="1"
                    active-color="#13ce66"
                    :inactive-value="0"
                    inactive-color="#ff4949"
                  ></el-switch>
                </template>
              </el-table-column>
              <el-table-column label="创建日期" prop="createTime" width="200">
                <template #default="scope">
                  <i class="el-icon-time"></i>
                  <span style="margin-left: 10px">{{ new Date(scope.row.createTime).format() }}</span>
                </template>
              </el-table-column>
              <el-table-column label="操作" width="150" fixed="right">
                <template #default="scope">
                  <el-button size="small" @click="modifyHandler(scope.row)">编辑</el-button>
                  <el-button size="small" type="danger" @click="removeHandler(scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <!-- 分页 -->
<!--              <my-pagination :pageData="pageData" :pageInfo="pageInfo" @queryHandler="queryHandler"></my-pagination>-->
            <!-- 分页 END -->
          </el-card>
        </el-col>
      </el-row>

      <!-- 弹出框——新增和修改信息 -->
      <el-dialog
          :title="dialog.title + '角色'"
          v-model="dialog.visible"
          :close-on-click-modal="false"
          @open="queryRoles"
          @close="dialogClose"
          width="50%">

          <!-- slot name="modelForm" ></slot> -->
          <el-form :model="modelForm" :rules="form.formRules" ref="modelForm" status-icon label-position="right" size="small" label-width="80px">
            <el-row type="flex" justify="space-between">
              <el-col :span="24" style="display: none;">
                <el-form-item label="id">
                  <el-input v-model="modelForm.id"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="用户名" prop="username">
                  <el-input v-model="modelForm.username" placeholder="请输入用户名"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12" >
                <el-form-item label="用户昵称" prop="nickname">
                  <el-input v-model="modelForm.nickname" placeholder="'请输入用户昵称"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="24" >
                <el-form-item label="邮箱" prop="email">
                  <el-input v-model="modelForm.email" placeholder="请输入用户收件邮箱"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="年龄" prop="age">
                  <el-input type="number" v-model="modelForm.age"></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="性别" prop="gender">
                  <el-select v-model="modelForm.gender" placeholder="请选择性别">
                    <el-option label="男" value="男"></el-option>
                    <el-option label="女" value="女"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="用户角色" prop="roleIds">
                  <el-select v-model="modelForm.roleIds" multiple placeholder="请选择用户角色" style="width: 100%;">
                    <el-option
                      v-for="role in form.roles"
                      :key="role.id"
                      :label="role.nameZh"
                      :value="role.id">
                      <span style="float: left">{{ role.nameZh }}</span>
                      <span style="float: right; color: #8492a6; font-size: 12px">{{ role.name }}</span>
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>

          <div slot="footer" class="dialog-footer">
            <el-button @click="dialog.visible = false" >取 消</el-button>
            <el-button @click="resetPassword" >重置密码</el-button>
            <el-button type="primary" @click="submitHandler(0)" >{{dialog.submitText}}</el-button>
          </div>
        </el-dialog>
    </el-card>
  </div>

  <script>
    const vOptions = {
      data() {
        return {
          searchForm: {
            word: null,
            startTime: null,
            endTime: null,
            status: null,
            dateScope: null,
          },
          API: "/user",
          isOperator: 0,
          table: {
            loading: true,
            rows: [],
          },
          dialog: {
            visible: false,
            title: "",
            submitText: "提交"
          },
          pageInfo: {
            current: 1,
            size: 10,
            total: 0,
            parentMenu: 0
          },
          modelForm: {
            id: null,
            username: null,
            nickname: null,
            email: null,
            gender: null,
            age: null,
            roleIds: []
          },
          form: {
            roles: [],
            formRules: {
              username: [
                { required: true, message: "用户名不可以为空", trigger: "blur" },
                { min: 5, max: 20, message: "长度在5-20个字符之间", trigger: "blur" }
              ],
              nickname: [
                // { validator: checkNickname, trigger: "blur" },
                { max: 10, message: "昵称最长为10个字符", trigger: "blur" },
              ],
              email: [
                // { required: true, validator: checkEmail, trigger: "blur" },
                { required: true, type: "email", message: "长度在2-20个字符之间", trigger: "blur"},
                { min: 6, max: 30, message: "长度在6-30个字符之间"},
              ],
              // parentMenu: [{ required: true, message: "请选择上级菜单或目录", trigger: "blur" }],
            },
          },
          pageData: {current: 1, total: 0, records: []},
          method: $axios.get
        }
      },
      mounted() {
        // console.log(this.API)
        // console.log(this)
        this.queryHandler();
        console.log(this)
      },
      methods: {
        searchHandler(formData) {
          if (formData.dateScope != null) {
            this.searchForm.startTime = formData.dateScope[0];
            this.searchForm.endTime = formData.dateScope[1];
          } else {
            this.searchForm.startTime = null;
            this.searchForm.endTime = null;
          }
          // return
          this.$refs.dataTable.queryHandler(1);
        },
        /**
         * 清空表单
         */
        resetForm() {
          this.searchForm = {};
          this.dateScope = null;
        },
        statusChange(value) {
          // console.log(value);
          if (value.status != 1) {
            this.$alert("是否将当前【" + value.nickname + "】设置为禁用状态", "禁用用户", {
              distinguishCancelAndClose: true,
              confirmButtonText: "禁用",
              cancelButtonText: "取消"
            }).then(() => {
              $axios.post(this.API, {id: value.id, status: 0}).then(res => {
                if (res.code == 200) {
                  this.$message.success("修改状态成功");
                }
              });
            }).catch(action => {
              value.status = 1;
            });
          } else {
            $axios.post(this.API, {id: value.id, status: 1}).then(res => {
              console.log(res)
              if (res.code == 200) {
                // this.modelForm = {type: 1, order: 3,$se status: 1}
                this.$message.success("修改状态成功");
              }
            });
          }
        },
        // 表格中的选择项发生改变事件
        selectionChange(selection) {
          // 改变修改、删除、到处按钮的禁用状态
          this.isOperator = selection.length;
          this.table.rows = selection;
        },
        // 表格行被选择事件
        rowSelect(selection, row) {
          console.log(selection, row);
          // this.table.row = row;
        },
        //
        // 以下是和CRUD有关的方法
        //
        /**
         * @param {Function} method
         * @param {Object} data
         */
        baseRequest(data) {
          console.log(data)
          return this.method(this.API, data).then(res => {
            console.log(res)
            if (res.code == 200) {
              // this.modelForm = {type: 1, order: 3, status: 1}
              this.dialog.visible = false;
            }
            return res;
          }).catch(err => {
            console.error(err)
            Promise.reject(err);
          });
        },
        // 刷新和获取表格数据
        queryHandler(current) {
          if (current) this.pageInfo.current = current;
          this.table.loading = true;
          $axios.get(this.API, Object.assign({}, this.pageInfo, this.searchForm)).then(res => {
            // console.log(res)
            this.pageData = res.data ? res.data : {current: 1, total: 0, records: []};
            this.table.loading = false;
            // console.log(res.data)
          }).catch(err => {
            this.table.loading = false;
            // console.log(err)
          })
        },
        // 新增按钮
        addHandler() {
          // this.clearForm(this.modelForm);
          this.dialog.title = "新增";
          this.dialog.submitText = "新增";
          this.dialog.visible = true;
          this.method = $axios.put;
        },
        // 修改按钮
        modifyHandler(row = this.table.rows.slice(-1)[0]) {
          this.modelForm = row;
          // 查询当前用户的角色信息（id数组）
          $axios.get("/role", {userId: row.id}).then(res => {
            if (res.code == 200) {
              // this.modelForm.roleIds = res.data;
              // 请勿使用上面的方式进行赋值，可能出现无法双向绑定失效
              console.log(res)
              // this.$set(this.modelForm, "roleIds", res.data);
              this.modelForm.roleIds = res.data;
              // 强制刷新视图
              // this.$forceUpdate();
            }
          });
          this.dialog.title = "修改";
          this.dialog.submitText = "更新";
          this.dialog.visible = true;
          this.method = $axios.post;
        },
        // 删除按钮
        removeHandler(rows = this.table.rows) {
          this.$alert("本次操作一经确认将无法撤回，是否继续", "角色删除", {
            distinguishCancelAndClose: true,
            confirmButtonText: "删除",
            cancelButtonText: '取消'
          }).then(() => {
            this.method = $axios.delete;
            console.log("删除了")
            console.log(rows)
            if (Array.isArray(rows)) {
              this.baseRequest(rows.map(el => el.id)).then(res => this.queryHandler());
            } else {
              this.baseRequest([rows.id]).then(res => this.queryHandler());
            }
          }).catch(action => {

          });
        },
        // 导出按钮
        exportHandler(el) {
          console.log(el);
          console.log(this.$refs["table"]);
          let columns = this.$refs["table"]["columns"].slice(1, this.$refs["table"]["columns"].length - 1);
          console.log(columns)
          columns = columns.map(el => ({"key": el.property, "value": el.label}) );
          console.log(columns);
          // this.$tools.exportExcel(this.table.rows, columns, "用户列表");
        },
        resetPassword() {
          $axios.post(this.API, { id: this.modelForm.id, isReset: true }, false).then(res => {
            if (res.code == 200) {
              this.$notify({
                title: "密码重置成功",
                type: "success"
              });
            }
          })
        },
        /**
         * 表单提交 新增or更新
         * @param {Object} type
         */
        submitHandler(type) {
          console.log(this.modelForm)
          this.$refs["modelForm"].validate((valid) => {
            if (valid) {
              this.baseRequest(this.modelForm);
            } else {
              return false;
            }
          });
        },
        // 当某一行被双击时
        rowDblClick(row) {
          // console.log(row)
        },
        //
        // 这下面是关于表单的方法
        //
        typeChange(val) {
          console.log(val)
          // this.type = val;
        },
        // 这将在对话框被打开的时候进行调用
        queryRoles() {
          if (this.form.roles.length == 0) {
            $axios.get("/role", {size: 20}).then(res => {
              // console.log(res.data);
              this.form.roles = res.data.records;
            });
          }
        },
        dialogClose() {
          // this.$tools.clearObj(this.modelForm, this);
          this.modelForm = {};
          // this.$refs["modelForm"].resetFields();

        },
      },
      watch: {
        pageInfo() {
          console.log("我变了")
        },
        pageData(nV, oV) {
          if (this.pageInfo.current > nV.pages) {
            this.pageInfo.current = 1;
          }
        }
      },
      components: {
        "sss": {
          data() {
            return {
              count: 0,
            }
          },
          template: `
<button @click="count++">
  You clicked me {{ count }} times.
</button>`
        }
      }
    }

    createApp(vOptions, "#app", ElementPlus);
  </script>
</body>
</html>