<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.41/vue.global.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.6/dayjs.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.6/plugin/customParseFormat.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.6/plugin/weekday.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.6/plugin/localeData.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.6/plugin/weekOfYear.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.6/plugin/weekYear.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dayjs/1.11.6/plugin/advancedFormat.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/ant-design-vue/3.2.13/antd.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/element-plus/2.2.21/index.full.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.1.3/axios.min.js"></script>

<script>
  /* 初始化 Vue */
  const {message} = antd;
  const createApp = function (app, element, ...components) {
    const vm = Vue.createApp(app);
    components.forEach(el => vm.use(el));
    vm.use(antd);

    vm.component("YIcon", {
      props: {
        name: {
          type: String,
          required: false,
          default: ""
        },
        size: {
          type: Number,
          default: 14
        },
        color: {
          type: String,
          default: undefined
        }
      },
      render() {
        const h = Vue.h;
        if (this.name && this.name.startsWith("el-icon")) {

        } else {
          const iconClass = this.name && this.name.startsWith("fa-") ? `fa ${this.name}` : this.name;
          return h("span", {
            class: `y-icon`,
          }, h("i", {
            class: iconClass,
            style: {
              color: this.color, fontSize: this.size + "px"
            }
          }));
        }
      }
    })
    vm.mount(element ? element : "#app");
    return vm;
  }
  // createApp({}, "#app");
  window.$message = message;
  // window.onload = () => {
  //   if (typeof vOptions !== "undefined") {
  //     createApp(vOptions, "#app");
  //   }
  // }

  /* 初始化 axios */
  (function () {
    const instance = axios.create({
      baseURL: "/admin/api",
      timeout: 10000,
      headers: {contentType: "application/json"}
    });

    // 添加响应拦截器
    instance.interceptors.response.use(function (response) {
      // 2xx 范围内的状态码都会触发该函数。
      // 对响应数据做点什么
      if (!response.data || response.data.code != 200) {
        window.$message.error(response.data.msg);
        return Promise.reject(response.data);
      }
      return response.data;
    }, function (error) {
      // 超出 2xx 范围的状态码都会触发该函数。
      // 对响应错误做点什么
      console.esLog(error)
      window.$message.error(error.msg || error.response.data.message);
      return Promise.reject(error);
    });
    window.$axios = {
      get(url, params, config = {}) {
        config.url = url;
        config.params = params;
        config.method = "get";
        return instance.request(config);
      },
      post(url, data, config = {}) {
        config.url = url;
        config.data = data;
        config.method = "post";
        return instance.request(config);
      },
      put(url, data, config = {}) {
        config.url = url;
        config.data = data;
        config.method = "put";
        return instance.request(config);
      },
      delete(url, data, config = {}) {
        config.url = url;
        config.data = data;
        config.method = "delete";
        return instance.request(config);
      },
    }
  })()


  Date.prototype.format = function (fmt = "YYYY-MM-DD HH:mm:ss") {
    const o = {
      "M+": this.getMonth() + 1,                    // 月份
      "D+": this.getDate(),                         // 日
      "H+": this.getHours(),                        // 小时
      "m+": this.getMinutes(),                      // 分
      "s+": this.getSeconds(),                      // 秒
      "q+": Math.floor((this.getMonth() + 3) / 3),  // 季度
      "S": this.getMilliseconds()                   // 毫秒
    };
    if (/(Y+)/.test(fmt))
      fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
    for (let k in o)
      if (new RegExp("(" + k + ")").test(fmt))
        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? String((o[k])) : (("00" + o[k]).substr(("" + o[k]).length)));
    return fmt;
  }
</script>